@import "~bootstrap/scss/bootstrap.scss";

h1 {
    font-size: 50px;
}

input {
    width: 50%;
    margin: 10px;
    font-size: xx-large;  
}
button {
    margin: 5px 10px;
    float: right;
    cursor: pointer;
}
#listbar {
    background: white;
    width: 50%;
    margin: auto;
    font-size: xx-large;
    text-indent: 50px;
    text-align: left;
    border: 2px solid black;
}

#task {
    background: white;
    width: 50%;
    margin:auto;
    font-size: xx-large;
    text-indent: 30px;
}

#last {
    font-size: 20px;
    text-align: left;
    text-indent: 5px;
}